<!-- Partial for the nav bar -->
<div class="nav centered">
  <a class="nav-link" href="/plans"><i class="fab fa-readme nav-icon"></i><br/>Read</a>
  <a class="nav-link" href="/social"><i class="fas fa-users nav-icon"></i><br/>Friends</a>
  <a class="nav-link" href="/profile"><i class="fas fa-user nav-icon"></i><br/>Profile</a>
</div>

<!-- imports -->
<script src="scripts/nav.js"/>