<!-- Partial for the nav bar -->
<div class="nav">
  <a href="/plans">Plans</a>
  <a href="/social">Social</a>
  <a href="/profile">Profile</a>
</div>

<!-- imports -->
<script src="scripts/nav.js" />