

<!--
  Need to fix this code to display the profile of the reading plan!!!!

<div class="all_graphs">
  <div class="graph">
    <p>% days complete, days left:</p>
  </div>
  <div class="graph">
    <p>% books complete, days left:</p>
  </div>
  <div class="graph">
    <p>total hours spent each day of the week</p>
  </div>
  <div class="text-center">
    <button id="stats" type="button" class="btn btn-default">Stats</button>
  </div>
</div>
-->

