<!--main page-->
<header>
    <h1 class="planName">Bible in 365 Days</h1>
    <div class="progress">
        <a href=progress.html></a>
    </div>
    <div class="all_plans">
        <!-- ADD LINK to page with all the plans-->
        <a class="back-button" href="/plans"><</a>
    </div>
</header>

<div class="plans">
    <div class="all_books">
        <div class="book">
            <h2>Judges</h2>
        </div>
        <div class="book">
            <h2>COGS 121</h2>
            <div class="chapters">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <button id="resume_button" type="button" class="btn btn-default">Resume</button>
                <!-- LINK BUTTON to read page -->
            </div>
        </div>
    </div>
</div>


<div class="all_graphs">
    <div class="graph">
        <p>% days complete, days left:</p>
    </div>
    <div class="graph">
        <p>% books complete, days left:</p>
    </div>
    <div class="graph">
        <p>total hours spent each day of the week</p>
    </div>
    <div class="text-center">
        <button id="stats" type="button" class="btn btn-default">Stats</button>
    </div>
</div>


<div class="text container">
    <a href="#" id="back">back</a>
    <div class="content"></div>
    <div id="nextButton" class="btn btn-primary">Next Chapter</div>
</div>

<script src="scripts/index.js"></script>
<link rel="stylesheet" href="styles/homepage.css"/>