<!--main page-->
<header class="nav-down">
  <h1 class="planName">Bible in 365 Days</h1>
  <div class="progress">
    <a class="back-forward-button" href=progress.html><i class="fas fa-angle-right"></i></a>
  </div>
  <div class="all_plans">
    <!-- ADD LINK to page with all the plans-->
    <a class="back-forward-button" href="/plans"><i class="fas fa-angle-left"></i></a>
  </div>
</header>

<div class="plans">
  <div class="container">
    <span class="pre-chapter-title">currently reading:</span>
    <span id="chapter-title"></span>
    <span class="continue-text">continue</span>
    <i class="continue-icon fas fa-angle-right"></i>
  </div>
</div>

<!--<div class="plans">-->
<!--<div class="all_books">-->
<!--<div class="book">-->
<!--<h2>Judges</h2>-->
<!--</div>-->
<!--<div class="book">-->
<!--<h2>COGS 121</h2>-->
<!--<div class="chapters">-->
<!--<p>1</p>-->
<!--<p>2</p>-->
<!--<p>3</p>-->
<!--<p>4</p>-->
<!--<button id="resume_button" type="button" class="btn btn-default">Resume</button>-->
<!--&lt;!&ndash; LINK BUTTON to read page &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<div class="all_graphs">
  <div class="graph">
    <p>% days complete, days left:</p>
  </div>
  <div class="graph">
    <p>% books complete, days left:</p>
  </div>
  <div class="graph">
    <p>total hours spent each day of the week</p>
  </div>
  <div class="text-center">
    <button id="stats" type="button" class="btn btn-default">Stats</button>
  </div>
</div>


<div class="text container">
  <a href="#" id="back">back</a>
  <div class="content"></div>
  <div id="nextButton" class="btn btn-primary">Next Chapter</div>
</div>

<script src="scripts/index.js"></script>
<link rel="stylesheet" href="styles/homepage.css"/>