<!-- 
    login page ejs
    layout register and login form and 
    configure toggling between both of them
 -->

<div class = "container-fluid">
    <form id = "login-forms" class="form col-md-12 center-block">
        <p class = "h1 text-center" style="width: 30%; overflow:hidden;">
            <marquee style="border-radius: 25%; box-shadow: 0px 0px 5px 3px lightgrey; font-family: 'Courier New', Courier, monospace; font-weight: bold; color: white; background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);">1-800-BIBLE</marquee>
        </p>
        <div class="form-group">
            <input class="form-control input-lg" placeholder="Username" 
            type="text" id="login-username">
        </div>
        <div class="form-group">
            <input class="form-control input-lg" placeholder="Password" 
            type="password" id="login-password">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg btn-block" id="login-submit-button" value="Sign In">
            <span class="pull-right"><a class = "tog-button" href="#">Register</a></span>
        </div>
    </form>
    <form id = "reg-forms" class="form col-md-12 center-block">
        <p class = "h1 text-center">
            Register
        </p>
        <div class="form-group">
            <input class="form-control input-lg" placeholder="Username" 
            type="text" name = "username" id="reg-username">
        </div>
        <div class="form-group">
            <input class="form-control input-lg" placeholder="Password" 
            type="password" name = "password" id="reg-password">
        </div>
        <div class="form-group">
            <input class="form-control input-lg" placeholder="Verify Password" 
            type="password" name = "verify" id="reg-verify">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" id="register-submit-button">Register</button>
            <span class="pull-right"><a class = "tog-button" href="#">Log In</a></span>
        </div>
    </form>
</div>



<script src="/scripts/login.js"></script>
