<!-- data page (sample not sure if we need this) -->
<div class="plans">
  <a href="/index" class="plan">Bible in 365 Days</a>
  <a class="plan">Sample 2</a>
  <a href="#" id="plan1" class="plan">COGS 121 Plan</a>
  <button>Add Plan</button>
</div>
<div class="text">
  <a href="#" id="back">back</a>
  <div class="content">
  </div>
</div>

<script src="scripts/plans.js"></script>