<!-- data page (sample not sure if we need this) -->
<div class="plans">
  <span class="plan">Sample 1</span>
  <span class="plan">Sample 1</span>
  <span class="plan">Sample 1</span>
</div>
<button>Add Plan</button>