<!-- data page (sample not sure if we need this) -->
<div class="plans">
  <a href="#" id="plan1" class="plan">The Guo Plan</a>
  <a class="plan">Sample 1</a>
  <a class="plan">Sample 1</a>
  <button>Add Plan</button>
</div>
<div class="text">
  <a href="#" id="back">back</a>
  <div class="content">
  </div>
</div>

<script src="scripts/plans.js"></script>