<div class="container centered" id="profile-page">
    <div id="profile-pic" class="circle-stat-circle">&nbsp</div>
    <h4>User's Name</h4>
    <p>10th place</p>

    <div class="profile-small-stats">
        <div class="small-stat">
            <div class="small-box"></div>
            100 points
        </div>
        <div class="small-stat">
            <div class="small-box"></div>
            54 hours
        </div>
        <div class="small-stat">
            <div class="small-box"></div>
            46 pages
        </div>
    </div>

    <div class="circle-stat-circle" id="page-rate">
        <div class="stat-title">30</div>
        pages/hr
    </div>
    <div class="circle-stat-circle" id="percent-read">
        <div class="stat-title">70%</div>
        done for today
    </div>
    <div class="profile-chart">
        hours vs days chart.
    </div>
    <a href="/login" class="logout-button">Logout</a>
</div>
