<div class="container centered" id="profile-header">
  <div id="profile-pic">&nbsp</div>
  <h4 id="user-name"><%= context.profile.username %></h4>
</div>
<div class="profile-chart container"></div>

<script>
  let userId = "<%= context.profile._id %>";
  let username = "<%= context.profile.username %>"
</script>
<script src="scripts/profile.js"></script>