<!--
  profile page
  layout profile page. Conditional logout button if
  the profile is that of the current user. 
-->

<div class="container centered" id="profile-header">
  <img src="" id="https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png"/>
  <h4 id="user-name"><%= context.profile.username %></h4>
  <div class="profile-chart-container">
    <h3>Hours / Minutes Read Each Day</h3>
    <div class="profile-chart container"></div>
  </div>
</div>

<div class="centered container">
  <div class="row">
    <div class="col col-top col-left">
      <h1 id="ch-read-wk"></h1>
      <span>
        chapters read this week
      </span>
    </div>
    <div class="col col-top col-right">
      <h1 id="ch-read-total"></h1>
      <span>
        total chapters read
      </span>
    </div>
    <div class="w-100"></div>
    <div class="col col-bottom col-left">
      <h1 id="time-total"></h1>
      <span>
        total hours read
      </span>
    </div>
    <div class="col col-bottom col-right">
      <h1 id="time-per-ch"></h1>
      <span>
        minutes read this week
      </span>
    </div>
  </div>
  <% if (logout) {%>
  <a href="/logout" class="btn btn-danger logout-button">Logout</a>
  <% } %>
</div>

<script>
  let hi = "<%= logout %>";
  console.log(hi);
  let userId = "<%= context.profile._id %>";
  let username = "<%= context.profile.username %>"
</script>
<script src="/scripts/profile.js"></script>