<!-- data page (sample not sure if we need this) -->
<div class="container-fluid">
  <p class="h1">social</p>
  <div class="friends-list">
    <p class="h2">Add Friend</p> 
    <input type="text" class="form-control" list="friends-data-list" id="friends-data-list-list" name="friends-input" />
    <datalist id="friends-data-list">
      <!--populated with ajax in js-->
    </datalist>
    <br />
    <button id="friends-data-list-button" class="form-control btn btn-primary">Add Friend</button>
    <p>confirmed Friend Requests</p>
    <ul class="list-group" id="confirmed-friends-list">
    </ul>
    <p>Pending Friend Requests</p>
    <ul class="list-group" id="pending-friends-list">
    </ul>
    <p>Your Friend Requests</p>
    <ul class="list-group" id="request-friends-list">
    </ul>
  </div>
</div>

<script src="scripts/social.js"></script>

<script type="text/html" id="confirmed-friend-template">
  <li class="list-group-item">
    <div class="friend-container">
      <div class="friend-name">
        <div data-content="username"></div>
      </div>
      <div class="friend-sub">
        <span data-content="hrs"></span>
        <span data-content="chapters"></span>
      </div>
    </div>
  </li>
</script>

<script type="text/html" id="pending-friend-template">
  <li class="list-group-item" data-template-bind='[{"attribute": "data-pending-friend", "value": "username"}]'>
    <div class="friend-container">
      <div class="friend-name">
        <div data-content="username"></div>
      </div>
      <div class="friend-sub">
        <button 
          class="pending-friend-button form-control btn btn-primary" 
          data-template-bind='[{"attribute": "data-friend-username", "value": "username"}]'>Add</button>
      </div>
    </div>
  </li>
</script>

<script type="text/html" id="request-friend-template">
  <li class="list-group-item">
    <div class="friend-container">
        <div data-content="username"></div>
    </div>
  </li>
</script>