:root {
    --main-bg-color: #ffffff;
    --sec-bg-color: #84bc9c;
    --main-hi-color: #2ca58d;
    --sec-hi-color: #d4c685;
    --dark-hi-color: #0a2342;
}

.centered {
    text-align: center;
    width: 100%;
    background-color: var(--main-bg-color);
}