* {
  margin: 0;
}

#back:hover {
  color: lightgrey;
  cursor: pointer;
}

.planName {
  pointer-events: none;
  font-size: 1.5rem;
  font-weight: normal;
}

.plan-read {
  padding-top: 3.5rem;
}

.plan-read > div {
  padding-bottom: .7rem;
  border-bottom: 1.5px lightgrey solid;
}

.plan-read:hover {
  cursor: pointer;
  color: var(--main-color);
}

#chapter-title {
  font-size: 3rem;
  font-weight: bolder;
  line-height: 2.5rem;
  margin-bottom: .5rem;
}

#plan-title {
  font-size: 1.5rem;
}

.plan-section-title {
  border-bottom: var(--main-color) 2px solid;
  font-weight: lighter;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.plan-section-desc {
}

.plan-data {
  height: 9rem;
}

.plan-data > svg {
  height: 100%;
  display: block;
}

.plan-data > div {
  height: 17rem;
}

.plan-data-text {
  top: 2.2rem;
  position: absolute;
}

.plan-data-container {
  display: table-cell;
  position: relative;
  width: 50%;
}

.plan-circles {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  display: table;
}
.plan-data-title {
  font-size: 2rem;
}

.plan-data-desc {
  font-size: .8rem;
}
.plan-bottom-cont {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.plan-bottom-stat {
  width: 30%;
  display: inline-table;
  vertical-align: top;
}

.middle-bottom-stat {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.plan-icon {
  font-size: 2.5rem;
  display: table-cell;
  vertical-align: top;
}

.plan-bottom-stat-text {
  display: table-cell;
}

.plan-bottom-stat-desc {
  font-size: .8rem;
  line-height: .8rem;
}

.plan-bottom-stat-title {
  font-size: 1.3rem;
  font-weight: bolder;
  line-height: 1.3rem;
}


.nav-up {
  top: -50px;
}

header {
  /* position: fixed; */
  height: 48px;
  width: 100%;
  border-bottom: 1px gray solid;
  background-color: white;
}

header h1 {
  /*position: absolute;*/
  left: 0;
  right: 0;
  top: .5rem;
  margin: auto;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 1rem;
}

#navbar {
  list-style-type: none;
  background-color: black;
  position: fixed;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#navbar li {
  display: inline-block;
  padding: 16px 48px;
}

.back-forward-button {
  pointer-events: none;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: .5rem;
  font-size: 22pt;
}

.text {
  margin-bottom: 4rem;
  padding-top: 4rem;
}

#nextButton {
  width: 50%;
}
