.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  font-size: 20pt;
  background-color: gray;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.nav-link, .nav-link:hover {
  color: black;
  width: 20%;
}
