#profile-pic {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: grey 2px solid;
  margin: .5rem;
  display: inline-block;
}

#profile-header {
  background-color: #EEEEEE;
}

.profile-chart {
  height: 12rem;
}

.profile-chart-container {
  border-top: 1px grey solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logout-button {
  width: 50%;
}

.row {
  margin: 1.3rem .5rem 1.3rem .5rem;
}

.col {
  padding: 1rem;
}

.col > h1 {
  line-height: .8rem;
  padding-top: .5rem;
}

.col > span {
  font-size: .8rem;
}

.col-left {
  border-right: 1px lightgrey solid;
}

.col-right {
  border-left: 1px lightgrey solid;
}

.col-top {
  border-bottom: 1px lightgrey solid;
}

.col-bottom {
  border-top: 1px lightgrey solid;
}