#profile-pic {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: grey 2px solid;
  margin: .5rem;
  display: inline-block;
}

#profile-header {
  background-color: #EEEEEE;
}

.profile-chart {
  height: 12rem;
}

.profile-chart-container {
  border-top: 1px grey solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
}